/* Estilos para el body */
body {
    background-image: url('../img/02.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de la pantalla completa */
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #afbabd;
    color: white;
    text-shadow: #0056b3 4px 4px 4px;
    width: 100%;
    box-sizing: border-box;
}

/* Contenedor principal */
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 20px auto; /* Centrará el contenedor y añade margen arriba/abajo */
    box-sizing: border-box;
    flex: 1; /* Permite que el contenedor crezca para ocupar el espacio restante */
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #afbabd;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos generales */
h1, h2, h3 {
    text-align: center;
}

.form-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    width: 48%;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    header, footer {
        padding: 15px;
    }
}
